/* Importação de Fonte */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

/* Esse asteristico é uma aplicação global */
body * {
    box-sizing: border-box;

}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    /* Para organizar o conteúdo dentro da div usamos o display.
    O display pode ter vários valores, pode ser flex, box, inline flex, grid.
    Usamos o flex, o flex faz com que as coisas fiquem lado a lado */
    display: flex;  
    /* justify-content: center; centraliza as coisas no eixo x.
    Ele pode ser flex-start, flex-end, center, space between, space around */
    justify-content: center;
    /* align-items: center; centraliza as coisas no eixo y */
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; faz com que o título fiquem em cima da imagem */
    flex-direction: column;
}

/* Chamando elementos dentro da class */
.left-login > h1 {
    /* font-size: 3vw; é para a responsividade do título */
    font-size: 3vw;
    color: #77ffc0;
}

/* Essa classe é para a responsividade da imagem */
.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    /* width: 60%; pega o tamanho da div que está card-login.
    Vai pegar 60% desse 50vh e tomar como tamanho */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    /* O terceiro valor de box-shadow é o blur */
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #00ff88;
    /* font-weight é a grossura da fonte */
    font-weight: 800;
    margin: 0;
}

.textfield {
    /* width: 100%; faz com que o button acompanhe os input em tamanho */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    /* outline: none; tira o contornado dos input */
    outline: none;
    /* box-sizing: border-box; cria uma "colisão" entre as div pai e filho, a div pai prevalece.*/
    box-sizing: border-box;
}

/* label é texto usuário e senha que fica fora da caixa */
.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    /* cursor: pointer; muda para um cursos de ação, a "mãozinha"*/
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

/* Enquanto for uma tela de 950px, aplique as propriedades abaixo */
@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;

    }

    /* display: none; oculta o título */
    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vw;
    }

    .card-login {
        width: 90%;
    }
}